* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: skyblue;
  padding: 20px;
  margin-bottom: 50px;
}

.text {
  width: 50%;
  background-color: khaki;
  margin-bottom: 10px;
}
a {
  background-color: khaki;
}
