* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
figure {
  line-height: 0;
  width: calc(100% / 3 -2px / 3);
}
img {
  width: 100%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  max-width: 800px;
}
